@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Pretendard Variable', system-ui, sans-serif;
  }
}

@layer components {
  .btn-icon {
    @apply !px-2;
  }

  .btn-primary {
    @apply px-3 py-2 bg-primary-100 text-primary-500 font-semibold rounded-lg
      outline-none select-none cursor-pointer transition-all ease-out
      hover:bg-primary-200
      active:scale-90 active:bg-primary-300
      focus:outline-none focus:bg-primary-200;
  }
  .btn-error {
    @apply px-3 py-2 bg-error-100 text-error-500 font-semibold rounded-lg
      outline-none select-none cursor-pointer transition-all ease-out
      hover:bg-error-200
      active:scale-90 active:bg-error-300
      focus:outline-none focus:bg-error-200;
  }

  .btn-text {
    @apply px-3 py-2 bg-transparent text-gray-900 font-semibold rounded-lg
      outline-none select-none cursor-pointer transition-all ease-out
      hover:bg-gray-200
      active:scale-90 active:bg-gray-300
      focus:outline-none focus:bg-gray-200;
  }

  .btn-disabled {
    @apply px-3 py-2 bg-gray-400 text-gray-100 font-semibold rounded-lg
      outline-none select-none;
  }

  .input {
    @apply outline-none bg-gray-100 text-gray-900 rounded-lg ring-primary-500 ring-0
      py-3 px-2 invalid:ring-error-500
      transition-all ease-out
      hover:bg-gray-200
      focus:ring-2
  }

  .icon {
    @apply inline-block select-none;

    font-variation-settings: 'FILL' var(--icon-fill, 0),
      'wght' var(--icon-weight, 400),
      'GRAD' var(--icon-grade, 0),
      'opsz' var(--icon-optical, 48);
  }

  .spinner-shape {
    fill: none;
    stroke-width: var(--stroke-width);
    stroke-linecap: round;
    stroke-dasharray: var(--dash-length);
    stroke-dashoffset: var(--dash-length);

    animation: spinner-shape 1.4s infinite;

    transform-origin: center center;
  }

  @keyframes spinner-shape {
    0% {
      stroke-dashoffset: var(--dash-length);
      rotate: 0deg;
    }
    50% {
      stroke-dashoffset: 10;
      rotate: 45deg;
    }
    100% {
      stroke-dashoffset: var(--dash-length);
      rotate: 360deg;
    }
  }
}

@layer utilities {
  .icon-fill {
    --icon-fill: 1;
  }
  .icon-stroke {
    --icon-fill: 0;
  }

  .icon-weight-100 { --icon-weight: 100; }
  .icon-weight-200 { --icon-weight: 200; }
  .icon-weight-300 { --icon-weight: 300; }
  .icon-weight-400 { --icon-weight: 400; }
  .icon-weight-500 { --icon-weight: 500; }
  .icon-weight-600 { --icon-weight: 600; }
  .icon-weight-700 { --icon-weight: 700; }

  .icon-grade-md { --icon-grade: 0; }
  .icon-grade-lg { --icon-grade: 200; }
  .icon-grade-sm { --icon-grade: -25; }

  .icon-optical-20 { --icon-optical: 20; }
  .icon-optical-24 { --icon-optical: 24; }
  .icon-optical-40 { --icon-optical: 40; }
  .icon-optical-48 { --icon-optical: 48; }
}

:root {

  --focus-border: theme('colors.primary.500');
  --separator-border: theme('colors.gray.300');
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  -webkit-tap-highlight-color: transparent;
}
